.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DatePicker {
  display: block;
  width: 100%;
}

.date-box {
  width: 100%;
}

.spinner {
  height : 120px;
  width : 120px;
  border : 6px solid;
  border-color: black transparent black transparent;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.spinner2 {
  height : 120px;
  width : 120px;
  border : 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}

.weather-widgets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid white;
}