body {
  font-family: "Roboto", sans-serif;
}
.top {
  margin-bottom: -20px;
  padding-bottom: 50px;
}
#top_header {
  margin-left: 40px;
}
.sign-up-support {
  display: inline;
  float: right;
  margin-right: 30px;
}
.feature-select-btn {
  display: inline;
  margin-left: 20px;
}

.feature-select-btn button {
  font-size: 16px;
}
.sign-up-support button {
  border-style: none;
  font-size: 16px;
}
.sign-up-support #sign-up {
  background-color: black;
  color: white;
}
button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 4px;
  background:none;
  border-color: black;
}
#top_header {
  display: inline;
}
.top p {
  display: inline;
}

.new-search-container {
  background-color: black;
  text-align: center;
  
}

.hotel-btn {
  border-style: none;
  margin-bottom: 40px;
  color: white;
  font-size: 16px;
}
.hotel-btn:active {
  background-color: white;
}

.search-input {
  margin-bottom: 10px;  
}

.search-input input {
  margin-top: -100px;
  padding-bottom: 8px; 
  padding-top: 8px; 
  padding-left: 10px;
  padding-right: 175px;
  border-radius: 8px;
  margin-bottom: 12px;
}
#search-title {
  font-size: 38px;
  font-weight: bold;
  color: white;
  padding-top: 40px;
  margin-bottom: 30px;
}
#country-code {
  padding-right: 5px;
  padding-left: 5px;
}



#site-search {
  float: right;
}

.filter {
  text-align: center;
}

#filter-btn {
  border:none;
  background-color: black;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}
#filter-btn:active {
  background-color: white;
}

.scrollable-container {
  max-width: 100%; /* Set the maximum width as needed */
  overflow-x: auto;
  margin-top: 50px;
}

.hotel-output {
  white-space: nowrap;
}

/*hotel options*/
.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 90%;
  display: flex;
}

.horizontal-list li {
  margin-right: 10px; /* Adjust as needed for spacing between items */
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 50px;
  padding-bottom: auto;
  margin-left: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.horizontal-list p {
  margin-left: 10px;
}
.hotel-image {
  height: auto;
  width: 500px;
}
.horizontal-list li:last-child {
  margin-right: 10px; /* Remove the right margin for the last item */
}








